src/twf
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
confdefs.h
conftest
conftest.c
conftest.err
config.guess
config.h.in
config.h.in~
config.h
config.log
config.status
config.sub
configure
configure.tmp
depcomp
install-sh
intl/
libtool
ltmain.sh
m4/
missing
po/Makefile.in.in
po/POTFILES
po/remove-potcdate.sed
po/stamp-*
stamp-h1
*.a
*.o
*.la
*.lo
*.gmo
*.mo
*.po~
*.pot
*.patch